/**
*顶部导航栏的css样式
*/

.header {
    width:100%;
    position: fixed;
    top: 0;
    height: 136px;
    /* border: 1px solid; */
    z-index:2;
}

.banner {
    width: 100%;
    display: block;
    height: 36px;
    display: flex;
    background-color: rgb(222,203,228);
    cursor: pointer;
}


.img-container {
    height: 460px;
    margin-bottom:80px;
}

.header .banner ul{
    white-space: nowrap;
    animation:scroll 10s linear infinite;
    height:36px;
    line-height: 36px;
}
.header .banner ul li{
    display: inline-block;
    list-style: none;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
.header .banner:hover ul{
    animation-play-state: paused;
}
.nav{
    padding:0 60px;
    /* padding:0 60px; */
    height:100px;
    display:flex;
    align-items:center;
    position:relative;
    justify-content: space-between;
    background-color: #fff;
}
.nav .logo{
    margin-right:48px;

}
.nav .nav-list {
    display:flex;
    list-style:none;
}
.nav .nav-list li{
    margin-right:48px;
}
.nav .nav-list li i::before{
    content:"❤";
    color:black;
    cursor: pointer;
}
.nav .nav-list li i:hover::before{
    color:red;
}



.icon{
    display:flex;
    justify-content: flex-end;
    right:0;
    gap:14px;
}
.header .search-bar,.header .more{
    font-size: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}