/**
 *主要关于第一个轮播图部分的css样式
*/

:root {
    /* 全局css变量 */
    --x: 0;
    --container-offset: 0;
}

.main {
    width: 100%;
    margin-top: 136px;

}

.main .section1 {
    position: relative;
    height: 460px;
    overflow: hidden;
}

.main .section1 .img-container {
    margin-bottom: 80px;
    position: relative;
    height: 460px;
    transition: transform 1s;
    transform: translate(var(--container-offset));
    white-space: nowrap;
    font-size: 0;
    /* display: flex;
    flex-wrap: nowrap; */
}

.main .section1 .img-container .img {
    /* flex-flow: row; */
    background: no-repeat center/cover;
    display: inline-block;
    width: 100%;
    height: 460px;
    padding: 50px 60px 90px;
    font-size: 1rem;
    /* 解决div.img内有文字时，img向下换行的问题 具体什么原因引起的问题我也解释不清，什么基线对齐引起的*/
    vertical-align: top;

}

.main .section1 .img-container .img .subheader {
    font-size: 16px;
    height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
}

@media (max-height:767px) {
    .main .section1 .img-container .img .title {
        font-size: 2.2rem;
        max-width: 580px;
    }

    .main .section1 .img-container .img .description {
        font-size: 18px;
        max-width: 620px;
    }
}

@media (max-width:600px) {
    .main .section1 .img-container .img .title {
        font-size: 8.4vw;
    }

    .main .section1 .img-container .img .description {
        font-size: 4.2vw;
        max-width: 620px;
    }
}

.main .section1 .img-container .img .title {
    margin-bottom: 12px;
    line-height: 1.05;
    font-weight: bold;
    display: block;
}

.main .section1 .img-container .img .description {
    display: block;
    white-space: wrap;
    line-height: 1.4;
    font-weight: 400;
}

.main .section1 .img-container .img .link {
    margin-top: 20px;
}

.main .section1 .img-container .img .link .btn {
    margin: 0;
    padding: 8px 24px;
    box-shadow: none;
    text-decoration: none;
    border: 2px solid #0000;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    font-size: 18px;
    height: 44px;
    font-weight: 700;
    line-height: calc(28px*0.8);
    font-family: neuehaasgrotesktext pro, Helvetica, Arial, sans-serif;
}

.main .section1 .left,
.main .section1 .right {
    z-index: 1;
    width: 36px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: rgb(0 0 0 / 24%);
    opacity: 0;
    transition: opacity 0.3s;
}

.main .section1 .left {
    left: 12px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.main .section1 .right {
    right: 12px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* .main .btn-container .left:hover,
.main .btn-container .right:hover {
    opacity: 1;
} */

/* 鼠标移入图片时，按钮显示 */
.main .section1:hover .left,
.main .section1:hover .right {
    opacity: 1;
}


